# Pandas统计计算和描述

In [1]:
import numpy as np
import pandas as pd

* 常用的统计计算

In [2]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
df_obj

          a         b         c         d
0  1.167830 -0.256525 -0.540208 -0.188638
1 -2.312839 -0.828500 -1.757693  0.033597
2  1.147448  0.949854  1.812745  0.339900
3 -1.454872  0.154112  0.176816  0.405737
4  0.530822 -1.174775  1.950332 -0.897380

In [3]:
df_obj.sum()

a   -0.921612
b   -1.155835
c    1.641992
d   -0.306784
dtype: float64

In [4]:
df_obj.max()

a    1.167830
b    0.949854
c    1.950332
d    0.405737
dtype: float64

- axis = 0 按列统计
- axis = 1 按行统计

In [5]:
df_obj.min(axis=1)

0   -0.540208
1   -2.312839
2    0.339900
3   -1.454872
4   -1.174775
dtype: float64

* 统计描述

In [6]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean  -0.184322 -0.231167  0.328398 -0.061357
std    1.601424  0.835329  1.578226  0.525199
min   -2.312839 -1.174775 -1.757693 -0.897380
25%   -1.454872 -0.828500 -0.540208 -0.188638
50%    0.530822 -0.256525  0.176816  0.033597
75%    1.147448  0.154112  1.812745  0.339900
max    1.167830  0.949854  1.950332  0.405737

* 其他统计计算

In [18]:
df_obj

          a         b         c         d
0  1.167830 -0.256525 -0.540208 -0.188638
1 -2.312839 -0.828500 -1.757693  0.033597
2  1.147448  0.949854  1.812745  0.339900
3 -1.454872  0.154112  0.176816  0.405737
4  0.530822 -1.174775  1.950332 -0.897380

In [17]:
# Min / Max

print(min(df_obj['a']))
print(max(df_obj['a']))

-2.31283942838
1.16783018443

In [16]:
# argmin / argmax : 获得最大值或最小值的索引

print(np.argmin(df_obj['a']))
print(np.argmax(df_obj['a']))

1
0