# Group By 分组与聚合

In [1]:
import pandas as pd
import numpy as np

In [12]:
dict_obj = {'A' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'B' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randn(8),
            'data2': np.random.randn(8)}
df_obj = pd.DataFrame(dict_obj)
print(df_obj)

   A      B     data1     data2
0  a    one -0.072744  0.028849
1  b    one  0.350077  1.027663
2  a    two -1.859216 -1.236657
3  b  three -1.331928 -0.784392
4  a    two  0.458066 -0.316712
5  b    two -1.040293 -1.140438
6  a    one -0.413199 -0.113789
7  a  three -0.594660 -0.246815

In [16]:
# dataframe根据A进行分组

print(df_obj.groupby('A'))

<pandas.core.groupby.DataFrameGroupBy object at 0x10b3e9390>

In [18]:
# data1列根据A进行分组

print(df_obj['data1'].groupby(df_obj['A']))

<pandas.core.groupby.SeriesGroupBy object at 0x113737ba8>

In [22]:
# 分组运算

groupe1 = df_obj.groupby('A')
print(grouped1.mean())

         data1     data2
key1
a    -0.115364 -0.156265
b     0.154796  0.384341

In [25]:
groupe2 = df_obj['data1'].groupby(df_obj['A'])
print(groupe2.mean())

A
a   -0.496350
b   -0.674048
Name: data1, dtype: float64

In [26]:
# size

print(groupe1.size())
print(groupe2.size())

A
a    5
b    3
dtype: int64
A
a    5
b    3
Name: data1, dtype: int64

In [27]:
# 按列名分组

df_obj.groupby('A')

In [28]:
# 按自定义key分组，列表

self_def_key = [1, 1, 2, 2, 2, 1, 1, 1]
df_obj.groupby(self_def_key).size()

1    5
2    3
dtype: int64

In [30]:
# 按自定义key分组，多层列表

df_obj.groupby([df_obj['A'], df_obj['B']]).size()

A  B
a  one      2
   three    1
   two      2
b  one      1
   three    1
   two      1
dtype: int64

In [31]:
# 按多个列多层分组

grouped2 = df_obj.groupby(['A', 'B'])
print(grouped2.size())

A  B
a  one      2
   three    1
   two      2
b  one      1
   three    1
   two      1
dtype: int64

In [32]:
# 多层分组按key的顺序进行

grouped3 = df_obj.groupby(['A', 'B'])
print(grouped3.mean())
print()
print(grouped3.mean().unstack())

            data1     data2
A B
a one   -0.242971 -0.042470
  three -0.594660 -0.246815
  two   -0.700575 -0.776685
b one    0.350077  1.027663
  three -1.331928 -0.784392
  two   -1.040293 -1.140438

      data1                         data2
B       one     three       two       one     three       two
A
a -0.242971 -0.594660 -0.700575 -0.042470 -0.246815 -0.776685
b  0.350077 -1.331928 -1.040293  1.027663 -0.784392 -1.140438

### GroupBy对象分组迭代
- 每次迭代返回一个Turple(group_name, group_data)
- 可用于分组数据的具体运算

In [35]:
# 单层分组

for group_name, group_data in groupe1:
    print(group_name)
    print(group_data)
    
# 分为a,b两组分别计算

a
   A      B     data1     data2
0  a    one -0.072744  0.028849
2  a    two -1.859216 -1.236657
4  a    two  0.458066 -0.316712
6  a    one -0.413199 -0.113789
7  a  three -0.594660 -0.246815
b
   A      B     data1     data2
1  b    one  0.350077  1.027663
3  b  three -1.331928 -0.784392
5  b    two -1.040293 -1.140438

In [36]:
# 多层分组

for group_name, group_data in groupe2:
    print(group_name)
    print(group_data)

a
0   -0.072744
2   -1.859216
4    0.458066
6   -0.413199
7   -0.594660
Name: data1, dtype: float64
b
1    0.350077
3   -1.331928
5   -1.040293
Name: data1, dtype: float64

#### GroupBy对象转换list和dict

In [37]:

list(groupe1)

[('a',    A      B     data1     data2
  0  a    one -0.072744  0.028849
  2  a    two -1.859216 -1.236657
  4  a    two  0.458066 -0.316712
  6  a    one -0.413199 -0.113789
  7  a  three -0.594660 -0.246815), ('b',    A      B     data1     data2
  1  b    one  0.350077  1.027663
  3  b  three -1.331928 -0.784392
  5  b    two -1.040293 -1.140438)]

In [39]:
dict(list(grouped1))

{'a':       data1     data2 key1   key2
 0  0.509000  1.029920    a    one
 2 -1.295339 -0.687487    a    two
 4 -0.281992 -0.498589    a    two
 6  0.068267 -1.170059    a    one
 7  0.423245  0.544891    a  three, 'b':       data1     data2 key1   key2
 1  0.358693  2.133992    b    one
 3 -1.488413 -0.331712    b  three
 5  1.594109 -0.649257    b    two}

In [40]:
# 按列分组
print(df_obj.dtypes)

# 按数据类型分组
df_obj.groupby(df_obj.dtypes, axis=1).size()
df_obj.groupby(df_obj.dtypes, axis=1).sum()

A         object
B         object
data1    float64
data2    float64
dtype: object

    float64  object
0 -0.043894    aone
1  1.377740    bone
2 -3.095873    atwo
3 -2.116320  bthree
4  0.141354    atwo
5 -2.180731    btwo
6 -0.526988    aone
7 -0.841476  athree

### 其他分组方法

In [41]:
df_obj2 = pd.DataFrame(np.random.randint(1, 10, (5,5)),
                       columns=['a', 'b', 'c', 'd', 'e'],
                       index=['A', 'B', 'C', 'D', 'E'])
df_obj2.ix[1, 1:4] = np.NaN
df_obj2

/Users/freena/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

   a    b    c    d  e
A  7  9.0  2.0  9.0  4
B  8  NaN  NaN  NaN  1
C  3  6.0  5.0  7.0  4
D  8  3.0  9.0  4.0  8
E  7  7.0  2.0  9.0  1

In [42]:
# 通过字典分组

mapping_dict = {'a':'python', 'b':'python', 'c':'java', 'd':'C', 'e':'java'}
df_obj2.groupby(mapping_dict, axis=1).size()
df_obj2.groupby(mapping_dict, axis=1).count() # 非NaN的个数
df_obj2.groupby(mapping_dict, axis=1).sum()

     C  java  python
A  9.0   6.0    16.0
B  NaN   1.0     8.0
C  7.0   9.0     9.0
D  4.0  17.0    11.0
E  9.0   3.0    14.0

In [43]:
# 通过函数分组

df_obj3 = pd.DataFrame(np.random.randint(1, 10, (5,5)),
                       columns=['a', 'b', 'c', 'd', 'e'],
                       index=['AA', 'BBB', 'CC', 'D', 'EE'])
df_obj3

     a  b  c  d  e
AA   2  9  6  6  4
BBB  9  3  3  7  5
CC   2  2  3  1  6
D    9  7  7  4  4
EE   5  3  4  6  4

In [44]:
def group_key(idx):
    """
        idx 为列索引或行索引
    """
    #return idx
    return len(idx)

df_obj3.groupby(group_key).size()

# 以上自定义函数等价于
#df_obj3.groupby(len).size()

1    1
2    3
3    1
dtype: int64

In [45]:
# 通过索引级别分组

columns = pd.MultiIndex.from_arrays([['Python', 'Java', 'Python', 'Java', 'Python'],
                                     ['A', 'A', 'B', 'C', 'B']], names=['language', 'index'])
df_obj4 = pd.DataFrame(np.random.randint(1, 10, (5, 5)), columns=columns)
df_obj4

language Python Java Python Java Python
index         A    A      B    C      B
0             8    9      5    8      3
1             9    2      1    1      6
2             2    8      7    6      1
3             2    9      2    4      2
4             8    4      6    9      6

In [46]:
# 根据language进行分组

df_obj4.groupby(level='language', axis=1).sum()
df_obj4.groupby(level='index', axis=1).sum()

index   A   B  C
0      17   8  8
1      11   7  1
2      10   8  6
3      11   4  4
4      12  12  9

### Aggregation 聚合

In [47]:
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randint(1,10, 8),
            'data2': np.random.randint(1,10, 8)}
df_obj5 = pd.DataFrame(dict_obj)
print(df_obj5)

   data1  data2 key1   key2
0      9      8    a    one
1      6      4    b    one
2      5      9    a    two
3      3      3    b  three
4      6      5    a    two
5      5      3    b    two
6      1      7    a    one
7      9      4    a  three

In [48]:
# 内置的聚合函数

print(df_obj5.groupby('key1').sum())
print(df_obj5.groupby('key1').max())
print(df_obj5.groupby('key1').min())
print(df_obj5.groupby('key1').mean())
print(df_obj5.groupby('key1').size())
print(df_obj5.groupby('key1').count())
print(df_obj5.groupby('key1').describe())

      data1  data2
key1
a        30     33
b        14     10
      data1  data2 key2
key1
a         9      9  two
b         6      4  two
      data1  data2 key2
key1
a         1      4  one
b         3      3  one
         data1     data2
key1
a     6.000000  6.600000
b     4.666667  3.333333
key1
a    5
b    3
dtype: int64
      data1  data2  key2
key1
a         5      5     5
b         3      3     3
     data1                                              data2            \
     count      mean       std  min  25%  50%  75%  max count      mean
key1
a      5.0  6.000000  3.316625  1.0  5.0  6.0  9.0  9.0   5.0  6.600000
b      3.0  4.666667  1.527525  3.0  4.0  5.0  5.5  6.0   3.0  3.333333


           std  min  25%  50%  75%  max
key1
a     2.073644  4.0  5.0  7.0  8.0  9.0
b     0.577350  3.0  3.0  3.0  3.5  4.0

In [53]:
# 自定义聚合函数 agg.(self-defined function)

def peak_range(df):
    return df.max() - df.min()

print(df_obj5.groupby('key1').agg(peak_range))

#print(df_obj.groupby('key1').agg(lambda df : df.max() - df.min()))

      data1  data2
key1
a         8      5
b         3      1

In [54]:
# 应用多个聚合函数

# 同时应用多个聚合函数
print(df_obj.groupby('A').agg(['mean', 'std', 'count', peak_range]))

      data1                                data2
       mean       std count peak_range      mean       std count peak_range
A
a -0.496350  0.860862     5   2.317282 -0.377025  0.498394     5   1.265506
b -0.674048  0.898825     3   1.682006 -0.299056  1.162682     3   2.168101

In [57]:
print(df_obj.groupby('A').agg(['mean', 'std', 'count', ('range', peak_range)])) 

# 通过元组提供新的列名

      data1                               data2
       mean       std count     range      mean       std count     range
A
a -0.496350  0.860862     5  2.317282 -0.377025  0.498394     5  1.265506
b -0.674048  0.898825     3  1.682006 -0.299056  1.162682     3  2.168101

In [59]:
# 每列作用不同的聚合函数

dict_mapping = {'data1':'mean',
                'data2':'sum'}
print(df_obj.groupby('A').agg(dict_mapping))

      data1     data2
A
a -0.496350 -1.885125
b -0.674048 -0.897167

In [60]:
dict_mapping = {'data1':['mean','max'],
                'data2':'sum'}
print(df_obj.groupby('A').agg(dict_mapping))

      data1               data2
       mean       max       sum
A
a -0.496350  0.458066 -1.885125
b -0.674048  0.350077 -0.897167

## 数据分组运算
- 保持原始数据的shape(聚合运算改变原始数据的shape)
- 用merge较为复杂，可用transfrom
- transform的计算结果和原数据shape保持一致（嵌入）

In [61]:
# 分组运算后保持shape

dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randint(1, 10, 8),
            'data2': np.random.randint(1, 10, 8)}
df_obj = pd.DataFrame(dict_obj)
df_obj

   data1  data2 key1   key2
0      3      5    a    one
1      3      5    b    one
2      8      6    a    two
3      1      1    b  three
4      1      4    a    two
5      5      6    b    two
6      8      5    a    one
7      5      3    a  three

In [62]:
# 按key1分组后，计算data1，data2的统计信息并附加到原始表格中

k1_sum = df_obj.groupby('key1').mean().add_prefix('mean_')
k1_sum

      mean_data1  mean_data2
key1
a            5.0         4.6
b            3.0         4.0

In [63]:
# 方法1，使用merge

pd.merge(df_obj, k1_sum, left_on='key1', right_index=True)

   data1  data2 key1   key2  mean_data1  mean_data2
0      3      5    a    one         5.0         4.6
2      8      6    a    two         5.0         4.6
4      1      4    a    two         5.0         4.6
6      8      5    a    one         5.0         4.6
7      5      3    a  three         5.0         4.6
1      3      5    b    one         3.0         4.0
3      1      1    b  three         3.0         4.0
5      5      6    b    two         3.0         4.0

In [64]:
# 方法2，使用transform

k1_sum_tf = df_obj.groupby('key1').transform(np.mean).add_prefix('mean_')
print(k1_sum_tf)
df_obj[k1_sum_tf.columns] = k1_sum_tf
df_obj

   mean_data1  mean_data2
0           5         4.6
1           3         4.0
2           5         4.6
3           3         4.0
4           5         4.6
5           3         4.0
6           5         4.6
7           5         4.6

   data1  data2 key1   key2  mean_data1  mean_data2
0      3      5    a    one           5         4.6
1      3      5    b    one           3         4.0
2      8      6    a    two           5         4.6
3      1      1    b  three           3         4.0
4      1      4    a    two           5         4.6
5      5      6    b    two           3         4.0
6      8      5    a    one           5         4.6
7      5      3    a  three           5         4.6

In [65]:
# 自定义函数传入transform

def diff_mean(s):
    return s - s.mean()

df_obj.groupby('key1').transform(diff_mean)

   data1  data2  mean_data1  mean_data2
0     -2    0.4           0         0.0
1      0    1.0           0         0.0
2      3    1.4           0         0.0
3     -2   -3.0           0         0.0
4     -4   -0.6           0         0.0
5      2    2.0           0         0.0
6      3    0.4           0         0.0
7      0   -1.6           0         0.0