# reshape 数据重构

In [2]:
import numpy as np
import pandas as pd

### stack

In [3]:
df_obj = pd.DataFrame(np.random.randint(0,10, (5,2)), columns=['data1', 'data2'])
df_obj

   data1  data2
0      2      5
1      7      4
2      2      4
3      4      1
4      1      7

In [4]:
stacked = df_obj.stack()
print(stacked)

0  data1    2
   data2    5
1  data1    7
   data2    4
2  data1    2
   data2    4
3  data1    4
   data2    1
4  data1    1
   data2    7
dtype: int64

In [5]:
print(type(stacked))
print(type(stacked.index))

<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.multi.MultiIndex'>

In [7]:
# 反向操作

stacked.unstack()

   data1  data2
0      2      5
1      7      4
2      2      4
3      4      1
4      1      7

In [8]:
# 通过level指定操作索引的级别

stacked.unstack(level=0)

       0  1  2  3  4
data1  2  7  2  4  1
data2  5  4  4  1  7